body{
  margin:auto;
}

.menu{
  margin:auto;
  background-image: url('heximage2.jpg');
  background-size: cover;
  text-align: center;
}

.principal{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  opacity: 0.9;
  border: 5px solid black;
  padding: auto;
  background-color: whitesmoke;
}

header{
  margin-top: 0;
  width: 100vw;
  background-color: black;
  color: white;
  text-align:center;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: black;
  color: white;
  text-align:center;
}

input{
  text-align:center;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button{
  text-align:center;
  background-color:blue;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.red{
  background-color:red;
}

.green{
  background-color: green;
}


