/* plateau de jeu */
.game{
    text-align: center;
    position:absolute;
    top:50%;
    left:55%;
    transform:translate(-50%,-50%);
}

/* bouton quitter la partie en cours */
.quitterButton{
    position:absolute;
    top:75%;
    left:75%;
    color: white;
    padding: 15px 32px;
}

/* bouton nouvelle partie */
.newGameButton{
    color: white;
    padding: 15px 32px;
    background-color: black;
}

/* tableau pose pions */
table{
    position:absolute;
    top:35%;
    left:2%;
    padding: 1em;
    border: 2px solid black;
}
/* tete tableau */
thead{
    background-color: grey;
    color: black;
}