body{
  margin:auto;
}

.menu{
  margin:auto;
  background-image: url('heximage2.jpg');
  background-size: cover;
  text-align: center;
}

h1{
  margin: 0;
}

.principal{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  opacity: 0.9;
  border: 5px solid black;
  padding: 2em;
  background-color: whitesmoke;
}

header{
  margin-top: 0;
  width: 100vw;
  background-color: black;
  color: white;
  text-align:center;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: black;
  color: white;
  text-align:center;
}

input{
  text-align:center;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button{
  text-align:center;
  background-color:blue;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.red{      /* couleur rouge */
  background-color:red;
}

.green{      /* couleur verte */
  background-color: green;
}

input[type="radio"]{       /* pour rendre les boutons à cocher plus jolis */
  width: 1.15em;
  height: 1.15em;
  
}

.left{
  margin: 1em;
  text-align: left;
}

.ligne{
  display: flex;
  flex-wrap: wrap;
}

.ligne div{
  flex: 1 0 33%;
}