body{
  margin:auto;
  background-color: blanchedalmond;
}

/* fond d'accueil */
.menu{
  margin:auto;
  background-image: url('heximage.jpg');
  background-size: cover;
  text-align: center;
}

h1{
  margin: 0;
}

/* boite de dialogue */
.principal{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  opacity: 0.9;
  border: 5px solid black;
  padding: 2em;
  background-color: whitesmoke;
}

header{
  margin-top: 0;
  width: 100vw;
  background-color: black;
  color: white;
  text-align:center;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: black;
  color: white;
  text-align:center;
}

input{
  text-align:center;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button{
  text-align:center;
  background-color:blue;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* couleur rouge */
.red{      
  background-color:red;
}

/* texte rouge */
.textred{  
  color:red;
}

/* couleur bleu */
.blue{    
  background-color: blue;
}

/* texte bleu */
.textblue{  
  color:blue;
}

/* couleur verte */
.green{      
  background-color: green;
}

/* texte vert */
.textgreen{
  color:green;
}

/* couleur orange */
.orange{    
  background-color: orange;
}

/* texte orange */
.textorange{
  color:orange;
}

/* boutons radio paramètres */
input[type="radio"]{       
  width: 1.15em;
  height: 1.15em;
  
}

/* aligner a gauche */
.left{
  margin: 1em;
  text-align: left;
}

/* disposition paramètres */
.ligne{
  display: flex;
  flex-wrap: wrap;
}

/* disposition ligne paramètres*/
.ligne div{
  flex: 1 0 33%;
}

/* position du tchat */
.chat{
  position:absolute;
  top:40%;
  left:80%;
  transform: translateY(-50%);
}

/* zone du tchat */
#messages{
  height:40vh;
  padding:1em;
  background-color:whitesmoke;
  overflow-y: scroll;
}

/* liste des messages */
#messages li{
  list-style: none;
  margin-bottom: 0.5em;
}

/* fond message de victoire */
.victoire{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 50%;
  width: 50%;
  background-color: red;
  animation: 2s infinite linear colorful;
  text-align: center;
  font-size: 4em;
}

/* texte de victoire */
.textVictoire{
  margin-top: 20%;
}

/* alterner les couleurs */
@keyframes colorful {
  0%{
    background-color: red;
  }
  25%{
    background-color: yellow;
  }
  50%{
    background-color:royalblue;
  }
  75%{
    background-color: seagreen;
  }
  100%{
    background-color:red;
  }
}

/* plateau de jeu */
.game{
  text-align: center;
  position:absolute;
  top:50%;
  left:55%;
  transform:translate(-50%,-50%);
}

/* nom du joueur damier */
.nomJ{
  text-align: center;
  font-size: 2em;
  padding: 5px;
  border-radius: 10%;
  padding-left: 10px;
  padding-right: 10px;
  color:white
}

/* nom du joueur en haut */
.hautJ{
  position:absolute;
  top:10%;
  left:45%;
  transform:translate(-50%,-50%);
}

/* nom du joueur a gauche */
.gaucheJ{
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%,-50%);
}

/* nom du joueur a droite */
.droiteJ{
  position: absolute;
  top: 45%;
  left: 70%;
  transform: translate(-50%,-50%);
}

/* nom du joueur en bas */
.basJ{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* bouton quitter la partie en cours */
.quitterButton{
  position:absolute;
  top:75%;
  left:75%;
  color: white;
  padding: 15px 32px;
}

/* bouton nouvelle partie */
.newGameButton{
  color: white;
  padding: 15px 32px;
  background-color: black;
}

table{
  padding: 1em;
  border: 2px solid black;
  background-color: whitesmoke;
}

thead{
  background-color: grey;
  color: black;
  font-size:1.25em;
}

/* tableau des pions posés */
.tabPion{
  position:absolute;
  top:25%;
  left:2%;
}

/* tableau des corridors posés */
.tabCorridor{
  position:absolute;
  top:40%;
  left:3.5%;
}

.switchPC{
  position:absolute;
  top:55%;
  left:5.5%;
}